.root {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.input {

}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.list {
  width: '100%';
  max-width: 360;
}

.caps {
  text-transform: capitalize;
}